.navbar {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #d39bd3;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    padding: 1rem 2rem
}

.project-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.project-images img {
    width: 270px;
    height: autopx;
}
