.navbar {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #d39bd3;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: space-between;
    padding: 1rem 2rem
}
